<div class="page-content page-thin">

    <%= render partial:'shared/page_title_caption',object: '学员列表' %>

    <div class="ui input">
      <%= form_tag search_students_path, method: 'get' do %>
            <span class="input-icon">
              <%= text_field_tag :q, params[:q], placeholder: "搜索学员...", autocomplete: "off" %>
              <i class="ace-icon fa fa-search nav-search-icon"></i>
             </span>

      <% end %>
    </div>


    <table class ="celled collapsing table segment">
      <thead>
        <tr>

          <th></th>
          <th>学员名称</th>
          <th>培训班级</th>
          <th>家长联系方式</th>


          <th>创建者</th>
          <%if current_user.employee?%>
          <th ></th>
          <%end%>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td>
              <div class="ui tiny image">
                <%=image_tag(student.user.photo.thumb.url) %>
              </div>
            </td>
            <td>
              <div class="ui divided items">




                 <%= link_to(student, {class: 'header'}) do %>
                      <%=student.user.try(:name)%>

                      <%if current_user.can_view_student_personal_info? %>
                          <i class="mobile icon large"></i>
                          <%student.user.try(:phone_number) %>
                          <%=student.user.try(:phone_number) %>
                      <%end%>
                 <%end%>

                  <%if current_user.can_view_student_personal_info? %>
                      <div class="description">

                        <p>
                        <span>QQ号:<%= student.user.try(:qq_number) || "(无)" %></span>
                        </p>
                        <p>
                        <span>
                        微信号:<%= student.user.try(:tinypost_number) ||"(无)"  %>
                          </span>
                        </p>
                        <p>
                        <span>

                        邮箱:<%= student.user.try(:email) || "(无)" %></span>
                        </p>
                        <p>
                        <span>

                        身份证:<%= student.user.try(:identify_card) || "(无)" %></span>
                        </p>

                      </div>
                  <%end%>

              </div>
            </td>
            <td>
            <%= render partial: 'shared/accordion_block', object: student,as: :student%>

            </td>
            <td>
              <!--家长联系方式 单元表格-->
              <%if current_user.can_view_student_personal_info? %>
                  <table class ="celled collapsing table segment">
                    <tbody>
                    <% unless student.parent_name.blank? %>
                        <tr>
                          <td><%=student.parent_name%></td>
                          <td><%=student.parent_tel%></td>
                        </tr>
                    <%end%>
                    <%unless student.parent2_name.blank?  %>
                        <tr>
                          <td><%=student.parent2_name%></td>
                          <td><%=student.parent2_tel%></td>
                        </tr>
                    <%end%>
                    </tbody>
                  </table>
              <%end%>

            </td>



            <td><%= student.creator.try(:name) %></td>
            <%if current_user.employee?%>
            <td>

              <%= link_to '修改', edit_student_path(student) ,{class:"btn btn-primary"}%>
              <%= link_to '设置密码', set_password_user_path(student.user), {class:"btn btn-primary"}%>
              <%if student.freezing_flag%>
                <%= link_to '解冻', unfreezing_student_path(student),{class:"btn btn-primary", method: :patch }%>
              <%else%>
                <%= link_to '冻结', freezing_student_path(student),{class:"btn btn-primary", method: :patch }%>
              <%end%>

              <%= link_to '删除', student,{class:"btn btn-danger", method: :delete, data: { confirm: '确定删除?' } }%>

            </td>

            <%end%>

          </tr>
        <% end %>
      </tbody>
    </table>

  <div>
    <br>
    <%= paginate @students %>
    <br>

    <%if current_user.employee?%>
    <%= link_to '新建学员', new_student_path,{class: "btn btn-primary"} %>
    <%end%>
  </div>
</div>