<div class="page-content page-thin">

  <%= render partial: 'shared/page_title_caption', object: "设置#{@student.name}已做过的试卷" %>


  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <%= simple_form_for @student do |f| %>

            <div class="field">
              <%=f.input :test_paper_ids,label:'TOEFL', collection: TestPaper.where(exam_type: 'TOEFL'), input_html:{id:'multiple_select_toefl_testpaper' ,multiple: ''},wrapper:false%>

            </div>
            <div class="field">
              <%=f.input :test_paper_ids,label:'SAT', collection: TestPaper.where(exam_type: 'SAT'), input_html:{id:'multiple_select_sat_testpaper' ,multiple: ''},wrapper:false%>

            </div>

            <div class="form-actions">
              <%= f.button :submit, "保存" %>
            </div>
        <% end %>

      </div>
    </div>
  </div>

</div>