<div class="page-content page-thin">


  <%= render partial: 'shared/page_title_caption', object: '学员信息' %>


  <div>
    <%=
        image_tag @student.user.photo_url, class: "student_photo middle image"
    %>
  </div>

  <div data-remark="输出折叠项">

    <% accordion_id ="accordion" %>
  <!--基本信息-->
  <% content_for "#{accordion_id}_item_1".to_sym do %>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>姓名:</strong>
              <%= @student.name %>
            </p>

            <% if current_user.can_view_student_personal_info? %>
                <p><strong>联系人电话:</strong><%= " #{@student.parent_name}:#{@student.parent_tel} " %></p>

                <p><strong>联系人2电话:</strong><%= " #{@student.parent2_name}:#{@student.parent2_tel} " %></p>

                <p><strong>身份证号:</strong><%= @student.user.try(:identify_card) %></p>

                <p><strong>手机号:</strong><%= @student.user.try(:phone_number) %></p>

                <p><strong>qq:</strong><%= @student.user.try(:qq_number) %></p>

                <p><strong>微信号:</strong><%= @student.user.try(:tinypost_number) %></p>

                <p><strong>Email:</strong><%= @student.user.try(:email) %></p>
            <% end %>

            <% if current_user.can_set_student_info?(@student) %>
                <div class="row">
                  <div class="col-md-4">
                    <%= link_to '设置学员已考试卷', set_finished_test_papers_student_path(@student), {class: 'btn btn-primary'} %>
                  </div>
                  <div class="col-md-4">
                    <%= link_to '修改学员基础信息', edit_student_path(@student), {class: 'btn btn-primary'} %>
                  </div>
                  <div class="col-md-4">
                    <%= link_to '设置登录密码', set_password_user_path(@student.user), {class: 'btn btn-primary'} %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>


  <% end %>

    <!--TOEFL成绩-->
    <% content_for "#{accordion_id}_item_2".to_sym do %>
        <%= render 'real_scores/student_real_scores_table_list', object: {exam_type: 'TOEFL'} %>
    <% end %>

    <!--SAT成绩-->
    <% content_for "#{accordion_id}_item_3".to_sym do %>
        <%= render 'real_scores/student_real_scores_table_list', object: {exam_type: 'SAT'} %>

    <% end %>

    <%= render 'shared/compoment_template_accordion', object: {accordion_id: accordion_id, item_titles: ['基本信息', 'TOEFL成绩', 'SAT成绩']} %>

  </div>

  <% if current_user.teacher? || current_user.employee? %>
      <%= link_to '返回到学员列表', students_path, {class: 'btn btn-primary'} %>
  <% end %>
</div>