<!--本模板根据学员生成一个panel-accordion 元素,用于表示学员参加过那些培训班(显示培训班的阶段名,而非培训班级名)-->
<%
   tc_type_names = student.training_classes.map { |tc| tc.training_class_type }

   count = TrainingClassType.toefl_types.count { |toefl_type| tc_type_names.count(toefl_type) > 0 }+
           TrainingClassType.sat_types.count { |sat_type| tc_type_names.count(sat_type) > 0 }
%>

<div data-remark="输出折叠项">
  <% accordion_id ="accordion_#{student.id}" %>
  <% item_content_name = "#{accordion_id}_item_1" %>

  <!--已参加班级-->
  <% content_for item_content_name.to_sym do %>
      <% TrainingClassType.send(:toefl_types).map do |toefl_type| %>

          <% if tc_type_names.count(toefl_type) > 0 %>

              <label class="label label-success">
                <%= toefl_type %>
              </label>
          <% else %>
              <%= toefl_type %>
          <% end %>
          <br>
      <% end %>
      <% TrainingClassType.send(:sat_types).map do |sat_type| %>
          <% if tc_type_names.count(sat_type) > 0 %>

              <label class="label label-success">
                <%= sat_type %>
              </label>
          <% else %>
              <%= sat_type %>
          <% end %>
          <br>
      <% end %>
  <% end %>
  <%= render 'shared/compoment_template_accordion', object: {accordion_id: accordion_id, item_titles: ["已参加班级:#{count}"]} %>

</div>