<div class="page-content page-thin">

  <%= render partial: 'shared/page_title_caption', object: "学员#{@student.name }在培训班 #{@training_class.name} 的考勤情况" %>
  <div >
    <label class='theme-color-label'>
    <%= helper__summary_text_attendance_for_student_in_training_class(@student,@training_class) %>
    </label>
  </div>
</div>

<div >
  <label class='theme-color-label'> 班级开课时间:<%=@training_class.start_date %> 至 <%= @training_class.end_date %>
</label>
</div>

<div>
  <label class="btn-success">
    出勤
  </label>
  <label class="btn-danger">
    未出勤
  </label>
  <label class="btn-warning">
    迟到
  </label>
  <label class="btn-info">
    早退
  </label>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class ="table table-bordered">
        <thead>
        <tr>
          <th>周日</th>
          <th>周一</th>
          <th>周二</th>
          <th>周三</th>
          <th>周四</th>
          <th>周五</th>
          <th>周六</th>


        </tr>
        </thead>

        <tbody>

        <% @week_dates.each  do |week| %>
            <tr>
              <% 7.times do |i|%>
                  <% str_css,str_description ='','' %>

                  <%  if week.has_day_attendance?(i)  %>
                      <% stu_attendance = week.get_student_attendance_with_day(i)%>
                      <% str_css =helper__css_color_style_student_attendance(stu_attendance) %>
                      <% str_description =  stu_attendance.description %>
                  <%end%>

                  <% atten_record = week.get_student_attendance_with_day(i)%>
                  <td class="<%=str_css %>">
                    <%=week.get_day(i).strftime("%m-%d")   if week.get_day(i) >= @training_class.start_date &&  week.get_day(i)<= @training_class.end_date%>
                    <%unless atten_record.nil?%>

                        <br>上午:<div class="ui <%="#{helper__color_by_attendance_status(atten_record.status_morning)}"%> label"> </div>
                        <br>下午:<div class="ui <%="#{helper__color_by_attendance_status(atten_record.status_afternoon)}"%> label"> </div>
                        <br>晚上:<div class="ui <%="#{helper__color_by_attendance_status(atten_record.status_evening)}"%> label"> </div>
                    <%end%>
                  </td>
              <%end%>
              <tr>
        <%end%>

        </tbody>
      </table>
    </div>
  </div>
</div>





<%=link_to '返回到我的培训班列表', training_classes_path,{class:'btn btn-primary'} %>
</div>