
<!--分部模板 [ <%= __FILE__%> ] 输出左侧导航菜单,导航菜单栏里的菜单项是动态指定的（非静态固定不变）-->
<!-- >>>> 导航菜单内容 >>>>> -->

<div class="sidebar">
<div class="logopanel">
  <h1>
    <a href="<%=admin_home_page_index_path%>" style="color:white;font-size:20px;background:none;"><%=@school_name%></a>
  </h1>
</div>
<div class="sidebar-inner">
<div class="sidebar-top big-img">
  <div class="user-image">
    <img src="/admin/assets/global/images/profil_page/friend8.jpg" class="img-responsive img-circle" alt="friend 8">
  </div>
  <h4><%= current_user.name %></h4>
  <div class="dropdown user-login">
    <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
      <i class="online"></i><span>在线</span> <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#"><i class="busy"></i><span>忙碌</span></a>
      </li>
      <li>
        <a href="#"><i class="turquoise"></i>
          <span>隐身</span></a>
      </li>
      <li>
        <a href="#"><i class="away"></i>
          <span>离开</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="menu-title">
  导航
  <div class="pull-right menu-settings">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
      <i class="icon-settings"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
      <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
      <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide / show user image</a></li>
    </ul>
  </div>
</div>

  <!--输出导航项-->
<ul class="nav nav-sidebar">

  <% nav_menus =left_sidebar_nav_menu_items
     menu_item_icons=left_sidebar_nav_menu_item_icons
  %>
  <% nav_menus.each do |key,value| %>
      <li class="nav-parent">
        <a href="#"><i class="<%= menu_item_icons[key]%>"></i><span><%= key %></span> <span class="fa arrow"></span></a>

        <% if value.any? %>
            <ul class="children collapse">
            <% value.each { |isub_key,sub_value| %>
              <li><a href="<%= sub_value %>"> <%= isub_key %></a></li>
            <% } %>
            </ul>
        <% else %>
            <a class="item">无菜单项</a>
        <% end %>
  <% end %>
</ul>

<%if nil%>
<!-- SIDEBAR WIDGET FOLDERS -->
<div class="sidebar-widgets">
  <p class="menu-title widget-title">统计 <span class="pull-right"><a href="#" class="hide-widget"> <i class="icons-office-52"></i></a></span></p>
  <div class="charts-sidebar progress-chart">
    <div class="sidebar-charts-inner">
      <div class="clearfix">
        <div class="sidebar-chart-title">Stat 1</div>
        <div class="sidebar-chart-number">82%</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary stat1" data-transitiongoal="82"></div>
      </div>
    </div>
    <div class="sidebar-charts-inner">
      <div class="clearfix">
        <div class="sidebar-chart-title">Stat 2</div>
        <div class="sidebar-chart-number">43%</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary stat2" data-transitiongoal="43"></div>
      </div>
    </div>
    <div class="sidebar-charts-inner">
      <div class="clearfix">
        <div class="sidebar-chart-title">Stat 3</div>
        <div class="sidebar-chart-number" id="number-visits">93%</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-primary stat3" data-transitiongoal="93"></div>
      </div>
    </div>
  </div>
</div>
<div class="sidebar-footer clearfix">
  <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
    <i class="icon-settings"></i></a>
  <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
    <i class="icon-size-fullscreen"></i></a>
  <a class="pull-left" href="user-lockscreen.html" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
    <i class="icon-lock"></i></a>
</div>
<%end%>
</div>
</div>

<!--  <<<< 子模板[ <%= __FILE__%> ]结束 <<<<< -->