<!--Make 布局模板-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="admin-themes-lab">
  <meta name="author" content="themes-lab">
  <link rel="shortcut icon" href="/admin/assets/global/images/favicon.png" type="image/png">
  <title>Welcome</title>

  <%= yield :temp_css_for_semantic%>

  <link href="/admin/assets/global/css/style.css" rel="stylesheet">
  <link href="/admin/assets/global/css/theme.css" rel="stylesheet">
  <link href="/admin/assets/global/css/ui.css" rel="stylesheet">
  <link href="/admin/assets/admin/layout2/css/layout.css" rel="stylesheet">

  <style>
      table {
          /*表格背景透明*/
          background-color: rgba(255, 255, 255, 0.4) !important;
      }

      .panel-accordion .panel  a:not(.collapsed) {
          background-color: #b0ebff;
      }
      .panel-accordion .panel  a.collapsed {
          background-color: #698ECC;
      }

  </style>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- BEGIN PAGE STYLE -->
  <!--输出页面特定的css文件-->
    <%= yield :page_css%>
  <!-- END PAGE STYLE -->
  <!--<script src="/admin/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- LAYOUT: Apply "submenu-hover" class to body element to have sidebar submenu show on mouse hover -->
<!-- LAYOUT: Apply "sidebar-collapsed" class to body element to have collapsed sidebar -->
<!-- LAYOUT: Apply "sidebar-top" class to body element to have sidebar on top of the page -->
<!-- LAYOUT: Apply "sidebar-hover" class to body element to show sidebar only when your mouse is on left / right corner -->
<!-- LAYOUT: Apply "submenu-hover" class to body element to show sidebar submenu on mouse hover -->
<!-- LAYOUT: Apply "fixed-sidebar" class to body to have fixed sidebar -->
<!-- LAYOUT: Apply "fixed-topbar" class to body to have fixed topbar -->
<!-- LAYOUT: Apply "rtl" class to body to put the sidebar on the right side -->
<!-- LAYOUT: Apply "boxed" class to body to have your page with 1200px max width -->

<!-- THEME STYLE: Apply "theme-sdtl" for Sidebar Dark / Topbar Light -->
<!-- THEME STYLE: Apply  "theme sdtd" for Sidebar Dark / Topbar Dark -->
<!-- THEME STYLE: Apply "theme sltd" for Sidebar Light / Topbar Dark -->
<!-- THEME STYLE: Apply "theme sltl" for Sidebar Light / Topbar Light -->

<!-- THEME COLOR: Apply "color-default" for dark color: #2B2E33 -->
<!-- THEME COLOR: Apply "color-primary" for primary color: #319DB5 -->
<!-- THEME COLOR: Apply "color-red" for red color: #C9625F -->
<!-- THEME COLOR: Apply "color-green" for green color: #18A689 -->
<!-- THEME COLOR: Apply "color-orange" for orange color: #B66D39 -->
<!-- THEME COLOR: Apply "color-purple" for purple color: #6E62B5 -->
<!-- THEME COLOR: Apply "color-blue" for blue color: #4A89DC -->
<!-- BEGIN BODY -->
<body class="sidebar-condensed fixed-topbar fixed-sidebar theme-sdtl color-default dashboard">
<!--[if lt IE 7]>
<p class="browsehappy">您使用的是 <strong>过期的</strong> 老浏览器. 请 <a href="http://browsehappy.com/">安装最新版本的浏览器</a>以便体验采用新技术开发的网站</p>
<![endif]-->
<section style="opacity: 1;">
<!-- BEGIN SIDEBAR -->
<%=render partial:'layouts/layout_siderbar'%>

<!-- END SIDEBAR -->
<div class="main-content">
<!-- BEGIN TOPBAR -->
<div class="topbar">
<div class="header-left">
  <div class="topnav">
    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
    <ul class="nav nav-icons">
      <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
      <% if nil %>
      <li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>
      <li><a href="#"><span class="octicon octicon-flame"></span></a></li>
      <li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="header-right">
<ul class="header-menu nav navbar-nav">
<% if nil %>
<!-- BEGIN USER DROPDOWN -->
<li class="dropdown" id="language-header">
  <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-globe"></i>
    <span>语言</span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#" data-lang="en"><img src="/admin/assets/global/images/flags/usa.png" alt="flag-english"> <span>English</span></a>
    </li>
    <li>
      <a href="#" data-lang="es"><img src="/admin/assets/global/images/flags/chinese.png" alt="flag-english"> <span>中文</span></a>
    </li>
  </ul>
</li>
<!-- END USER DROPDOWN -->

<!-- BEGIN NOTIFICATION DROPDOWN -->
<li class="dropdown" id="notifications-header">
  <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span class="badge badge-danger badge-header">6</span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header clearfix">
      <p class="pull-left">12 Pending Notifications</p>
    </li>
    <li>
      <ul class="dropdown-menu-list withScroll" data-height="220">
        <li>
          <a href="#">
            <i class="fa fa-star p-r-10 f-18 c-orange"></i>
            Steve have rated your photo
            <span class="dropdown-time">Just now</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-heart p-r-10 f-18 c-red"></i>
            John added you to his favs
            <span class="dropdown-time">15 mins</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-file-text p-r-10 f-18"></i>
            New document available
            <span class="dropdown-time">22 mins</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
            New picture added
            <span class="dropdown-time">40 mins</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
            Meeting in 1 hour
            <span class="dropdown-time">1 hour</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bell p-r-10 f-18"></i>
            Server 5 overloaded
            <span class="dropdown-time">2 hours</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
            Bill comment your post
            <span class="dropdown-time">3 hours</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
            New picture added
            <span class="dropdown-time">2 days</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown-footer clearfix">
      <a href="#" class="pull-left">See all notifications</a>
      <a href="#" class="pull-right">
        <i class="icon-settings"></i>
      </a>
    </li>
  </ul>
</li>
<!-- END NOTIFICATION DROPDOWN -->
<!-- BEGIN MESSAGES DROPDOWN -->
<li class="dropdown" id="messages-header">
  <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-paper-plane"></i>
                <span class="badge badge-primary badge-header">
                8
                </span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header clearfix">
      <p class="pull-left">
        You have 8 Messages
      </p>
    </li>
    <li class="dropdown-body">
      <ul class="dropdown-menu-list withScroll" data-height="220">
        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="/admin/assets/global/images/avatars/avatar3.png" alt="avatar 3">
                        </span>
          <div class="clearfix">
            <div>
              <strong>Alexa Johnson</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
              </small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur...</p>
          </div>
        </li>
        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="/admin/assets/global/images/avatars/avatar4.png" alt="avatar 4">
                        </span>
          <div class="clearfix">
            <div>
              <strong>John Smith</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time p-r-5"></span>47 mins ago
              </small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur...</p>
          </div>
        </li>
        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="/admin/assets/global/images/avatars/avatar5.png" alt="avatar 5">
                        </span>
          <div class="clearfix">
            <div>
              <strong>Bobby Brown</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time p-r-5"></span>1 hour ago
              </small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur...</p>
          </div>
        </li>
        <li class="clearfix">
                        <span class="pull-left p-r-5">
                        <img src="/admin/assets/global/images/avatars/avatar6.png" alt="avatar 6">
                        </span>
          <div class="clearfix">
            <div>
              <strong>James Miller</strong>
              <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time p-r-5"></span>2 days ago
              </small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur...</p>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown-footer clearfix">
      <a href="mailbox.html" class="pull-left">See all messages</a>
      <a href="#" class="pull-right">
        <i class="icon-settings"></i>
      </a>
    </li>
  </ul>
</li>
<!-- END MESSAGES DROPDOWN -->
<% end %>
<!-- BEGIN USER DROPDOWN -->
<li class="dropdown" id="user-header">
  <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <img src="/admin/assets/global/images/avatars/user1.png" alt="user image">
    <span class="username">你好, <%= current_user.name %></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#"><i class="icon-user"></i><span>个人档案</span></a>
    </li>
    <li>
      <a href="#"><i class="icon-calendar"></i><span>我的...</span></a>
    </li>
    <li>
      <a href="#"><i class="icon-settings"></i><span>账户设置</span></a>
    </li>
    <li>
      <%= link_to log_out_path do %>
          <i class="icon-logout"></i><span>登出</span>
      <% end %>

    </li>
  </ul>
</li>
<!-- END USER DROPDOWN -->
<!-- CHAT BAR ICON -->
<li id="quickview-toggle"><a href="#"><i class="icon-bubbles"></i></a></li>
</ul>
</div>
<!-- header-right -->
</div>
<!-- END TOPBAR -->
<!-- BEGIN PAGE CONTENT -->

<%=yield%>

<!-- END PAGE CONTENT -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN  样式设定工具栏-->
<%=render partial:'layouts/layout_style_setting_bar'%>

<!-- END  样式设定工具栏 -->
</section>
<!-- BEGIN SEARCH -->
<% if nil  #屏蔽全站搜索功能%>
<div id="morphsearch" class="morphsearch">
  <form class="morphsearch-form">
    <input class="morphsearch-input" type="search" placeholder="Search..."/>
    <button class="morphsearch-submit" type="submit">Search</button>
  </form>
  <div class="morphsearch-content withScroll">
    <div class="dummy-column user-column">
      <h2>Users</h2>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar1_big.png" alt="Avatar 1"/>
        <h3>John Smith</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar2_big.png" alt="Avatar 2"/>
        <h3>Bod Dylan</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar3_big.png" alt="Avatar 3"/>
        <h3>Jenny Finlan</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar4_big.png" alt="Avatar 4"/>
        <h3>Harold Fox</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar5_big.png" alt="Avatar 5"/>
        <h3>Martin Hendrix</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/avatars/avatar6_big.png" alt="Avatar 6"/>
        <h3>Paul Ferguson</h3>
      </a>
    </div>
    <div class="dummy-column">
      <h2>Articles</h2>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/1.jpg" alt="1"/>
        <h3>How to change webdesign?</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/2.jpg" alt="2"/>
        <h3>News From the sky</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/3.jpg" alt="3"/>
        <h3>Where is the cat?</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/4.jpg" alt="4"/>
        <h3>Just another funny story</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/5.jpg" alt="5"/>
        <h3>How many water we drink every day?</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/6.jpg" alt="6"/>
        <h3>Drag and drop tutorials</h3>
      </a>
    </div>
    <div class="dummy-column">
      <h2>Recent</h2>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/7.jpg" alt="7"/>
        <h3>Design Inspiration</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/8.jpg" alt="8"/>
        <h3>Animals drawing</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/9.jpg" alt="9"/>
        <h3>Cup of tea please</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/10.jpg" alt="10"/>
        <h3>New application arrive</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/11.jpg" alt="11"/>
        <h3>Notification prettify</h3>
      </a>
      <a class="dummy-media-object" href="#">
        <img src="/admin/assets/global/images/gallery/12.jpg" alt="12"/>
        <h3>My article is the last recent</h3>
      </a>
    </div>
  </div>
  <!-- /morphsearch-content -->
  <span class="morphsearch-close"></span>
</div>
<% end %>
<!-- END SEARCH -->
<!-- BEGIN PRELOADER -->
<% if nil %>
<div class="loader-overlay">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<% end %>
<!-- END PRELOADER -->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>


<!--<script src="/admin/assets/admin/plugins2/jquery/jquery-1.11.1.min.js"></script>-->

<script src="/admin/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
<!--<script src="/admin/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>-->

<!--<script src="/admin/assets/global/plugins/gsap/main-gsap.min.js"></script>-->
<script src="/admin/assets/admin/plugins2/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/assets/admin/plugins2/bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/admin/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
<script src="/admin/assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->


<script src="/admin/assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
<script src="/admin/assets/global/js/builder.js"></script> <!-- Theme Builder -->
<script src="/admin/assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
<script src="/admin/assets/global/js/application.js"></script> <!-- Main Application Script -->
<script src="/admin/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->

<%if  nil #屏蔽这些js%>
    <script src="/admin/assets/global/js/pages/search.js"></script> <!-- Search Script -->

    <script src="/admin/assets/global/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
<%end%>
<script src="/admin/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!--天气插件需要此js Custom Scrollbar sidebar -->
<%if  nil #屏蔽这些js%>
    <script src="/admin/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="/admin/assets/global/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="/admin/assets/admin/plugins2/select2/select2.min.js"></script> <!-- Select Inputs -->

    <script src="/admin/assets/global/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
    <script src="/admin/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="/admin/assets/global/js/widgets/notes.js"></script> <!-- Notes Widget -->
    <script src="/admin/assets/global/js/quickview.js"></script> <!-- Chat Script -->
<%end%>


<%= yield :temp_js_for_semantic%>

<!-- BEGIN PAGE SCRIPT -->
<%=yield :page_js_scripts%>
<!-- END PAGE SCRIPT -->

<script src="/admin/assets/admin/layout2/js/layout.js"></script>
</body>
</html>